.signup-container {
    display: flex;
    height: 100vh;
    background-color: #fff8f2;
    color: #333;
}

.signup-left {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signup-left .highlight {
    color: #ff6f61;
}

.signup-right {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffe7e0;
    box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.1);
}

.signup-right h2 {
    margin-bottom: 20px;
    color: #ff6f61;
}

.signup-right form input {
    margin-bottom: 15px;
    padding: 10px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signup-right form button {
    padding: 10px 20px;
    background-color: #ff6f61;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
